* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
 background-color: white;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 80%;
  min-height: 600px;
  background: #ffffff;
  border: 2px solid #ececec;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.task__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0;
  color: #5f646e;
  font-size: 25px;

}

.task__header > .MuiSvgIcon-root {
  font-size: xx-large;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo__inputForm {
  margin-bottom: 32px;
}

.todo__input {
  padding: 14px 32px 14px 16px;
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.35);
  outline: none;
  width: 70%;
  background: transparent;
  color: black;
}

.task__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 8.5%;
  padding: 5px 5px 5px 16px;
  border-radius: 25px 25px 5px 5px;
  border-bottom: 1px solid #c5c2c2;
  outline: none;
  width: 85%;
  background: transparent;
  color: black;

}

.icons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-size: 24px;
  cursor: grab;
}

.icons__button {
  flex: 0.20;
}
